<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.task_manager.mappers.TaskMapper">
    <insert id="insertTask" parameterType="com.example.task_manager.models.Task">
        INSERT INTO tasks (name, description, start_date)
        VALUES (#{name}, #{description}, #{startDate})
    </insert>

    <select id="findAllTasks" resultType="com.example.task_manager.models.Task">
        SELECT * FROM tasks
    </select>

    <select id="findTaskById" parameterType="long" resultType="com.example.task_manager.models.Task">
        SELECT * FROM tasks WHERE id = #{id}
    </select>

    <update id="updateTask" parameterType="com.example.task_manager.models.Task">
        UPDATE tasks
        SET name = #{name}, description = #{description}, start_date = #{startDate}
        WHERE id = #{id}
    </update>

    <delete id="deleteTask" parameterType="long">
        DELETE FROM tasks WHERE id = #{id}
    </delete>
</mapper>
